body
{
  text-align:center;
  background-color:#FF8A80;
  font-size: 40px;
}
.mark1{
  width:100%;
  height:80%;
}
.header{
  background-color:#FFCDD2;
  
}
a{
  text-decoration:none;
  
}
#foter{
  color:Yellow;
  text-align:center;
  background-color:Black;
  
}
